VITE_API_URL=https://api.oceanwatch.xyz
VITE_GRAPHQL_URL=https://indexer.oceanwatch.xyz/graphql
VITE_HEDERA_NETWORK=testnet
VITE_HEDERA_TOKEN_ID=0.0.8510011
VITE_WALLETCONNECT_PROJECT_ID=8774a8a476c10ff8ed1ab15ced2da021
VITE_WORLDID_APP_ID=app_5e00cf5d85b7fa221f91d0de558c70c3
VITE_WORLDID_ACTION=verify-human
VITE_USE_MSW=false
